.clickSparkContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.clickSparkCanvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
}
